.row-fluid
  .span3.searches
    %h1 Search

    %input.search
    %button.search-btn Search

    %input.checkin
    %button.check-btn Checkin

:css
  .searches{
    height:100%;
  }
  .ui-autocomplete{
    width:350px;
    height:500px;
    overflow-y:scroll;
    overflow-x:hidden;
  }

  .search{
    width:352px;
  }

:javascript
  $('.search, .checkin').autocomplete({
    delay: 50,
    minLength: 3,
    source: #{@names}
  });

  $(".search-btn").click(function(){
    var dataString = $(".search").val();
    if($.inArray(dataString, #{@names}) != -1) {
      var request = $.ajax({
        type: "POST",
        url: "/squares/search",
        data: {"square": dataString},
        dataType: "json"
      });

      request.done(function (msg) {
        console.log(msg);
      });

      request.fail(function (msg) {
        alert("Square not found.");
      });
    }
    else {
      alert("Square doesn't exist.");
    }
  })
  
  $(".check-btn").click(function(){
    var dataString = $(".checkin").val();
    if($.inArray(dataString, #{@names}) != -1) {
      var request = $.ajax({
        type: "POST",
        url: "/squares/checkin",
        data: {"square": dataString},
        dataType: "json"
      });

      request.done(function (msg) {
        console.log(msg);
      });

      request.fail(function (msg) {
        console.log(msg);
      });
    }
    else {
      alert("Square doesn't exist.");
    }
  })
