.row-fluid
  .span3.searches
    %h1 Search
    %input.search
    %button.btn Search


:css
  .searches{
    height:100%;
  }
  .ui-autocomplete{
    width:350px;
    height:500px;
    overflow-y:scroll;
    overflow-x:hidden;
  }

  .search{
    width:352px;
  }


:javascript
  $('.search').autocomplete({
    delay: 50,
    minLength: 3,
    source: #{@names}
  });

  $(".btn").click(function(){
    var dataString = $(".search").val();
    if($.inArray(dataString, #{@names}) != -1) {
      var request = $.ajax({
        type: "POST",
        url: "/squares/search",
        data: {"square": dataString},
        dataType: "json"
      });

      request.done(function (msg) {
        var searchData = msg;
        console.log(searchData);
      });

      request.fail(function (msg) {
        alert("Square not found.");
      });
    }
    else {
      alert("Square doesn't exist.");
    }
  })
  

