.sign-in{:style => "height: 640px; margin: 10px 10px 10px 10px;"}
  .row
    .span6.offset3
      .popup{:style => "margin-left: 50px; margin-right: 50px;"}
        .popup-title
          %a.close-link{:href => "#"}
            %span Close
          Sign In
        .body
          .row-fluid
            .span7
              = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
                .sign-in-form
                  = f.text_field :email, :autofocus => true, :class => "form-field username", :placeholder => "E-mail"
                  = f.password_field :password, :class => "form-field password", :placeholder => "Password"
                  %a.forgot-password{:href => "#"} Forgot your username or password?
                  %a.button.sign-in{:href => "#"} Sign In
                  - f.submit "Sign in"
            .span5
              .external-auth.clearfix
                .intro Or log in with:
                %a.button.social.facebook{:href => "#"} Facebook

:javascript
  $('.button.sign-in').click(function(){
    $('form').submit();
  })
