#up{
    background: url('/images/up-icon-new.png') no-repeat;
    float: left;


}

#detailed-view {
    background: url('/images/show-menu.png') no-repeat;
    display: block;
    height: 30px;
    width: 30px;
    float: left;
    position: relative;
    top: 4px;
    left: -12px;
}



