#up{
    background: url('/images/up-icon-new.png') no-repeat;
    float: left;
    left: 12px;
    opacity: 0.3;
    width: 30px;
    height: 30px;
    z-index: 10;
    display: inline-block;


}


#detailed-view {
    background: url('/images/show-menu.png') no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    float: left;
    position: relative;
    top: 4px;
    left: 4px;
    opacity: 0.3;
    z-index: 10;

}

#up:hover, #detailed-view:hover{
    opacity: 1;
    z-index: 10;


}

#up:active, #detailed-view:active{
    opacity: 0.8;
}
.topBar{
    background: url('/images/bg.png') repeat-x;
    position: relative;
    z-index: 9999999;
    height: 47px;
}

img#logo{
    padding-top: 8px;
    padding-bottom: 5px;
    margin-left: 8px;
    margin-top: -48px;
    position: relative;
    z-index: 99999999;
}

.content-wrapper{
    margin-top: -47px;
}

.button-wrapper{
    margin-left: 88px;
    position: relative;
    z-index: 999999999;
}






