!!!
%html
  %head
    %meta{:content => "text/html;charset=utf-8", "http-equiv" => "Content-Type"}
  %body
    .topBar
    .button-wrapper
      %a{:href => "#", :onclick => "return "}
      #detailed-view
      #up
        %a{:href => "#sidr"}
    #content.content-wrapper{:onclick => "HideSidr()"}
      %img#logo{:alt => "", :src => "/images/logo.png"}
      #sidr
        #profile-pic
          / = image_tag current_user.avatar.url
          %img{:src => "/images/avatar.gif"}
        #profile-name=current_user.name
        #profile-progress Overall progress
        #progress-bar{"data-bar-length" => "30"}
      #container
        #lsView
          #chart
    %script{:src => "/js/scripts.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.simple-progress-bar.js", :type => "text/javascript"}
